@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;  
}

/* Menu config */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #162028;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-right: 40px;
}

.menu a {
    color: #425564;
    text-decoration: none;
    padding: 0.7rem;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: color .3s ease-out .1s;
}

.menu a:hover {
    color: #627685;
}