#differences {
    background-color: var(--gray-100);
    justify-content: center;
    align-items: center;
    padding-block: 40px 600px;

    section {
        grid-template-columns: repeat(3, 1fr);
    }
}