#contacts {
    padding: 40px;

    div:first-child {
        justify-content: center;
        align-items: center;

        h1 {
            font: var(--title-md);
            color: var(--gray-600);
        }

        h2 {
            color: var(--purple);
        }
    }

    div:last-child {
        justify-content: center;
        align-items: center;
        gap: 14px;
        
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 18px;
            gap: 8px;
            background-color: var(--gray-300);
            width: 400px;
            border-radius: 8px;
            border: 2px solid transparent;
            transition: all 0.2s linear;

            &:hover {
                border: 2px solid var(--blue);
            }

            p {
                flex-grow: 1;
            }
        }
    }
}