#contacts {
    padding: 40px;

    div:first-child {
        justify-content: center;
        align-items: center;

        h1 {
            font: var(--title-md);
            color: var(--gray-600);
        }

        h2 {
            color: var(--purple);
        }
    }

    div:last-child {
        justify-content: center;
        align-items: center;
        gap: 14px;
        
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 14px;
            gap: 8px;
            background-color: var(--gray-300);
            width: 400px;
            border-radius: 8px;
            border: 2px solid transparent;
            transition: all 0.2s linear;

            &:hover {
                border: 2px solid var(--blue);
            }

            p {
                flex-grow: 1;
            }

            img {
                padding-block: 10px;
                padding-inline: 10px;
                border-radius: 50%;
                transition: all 0.1s linear;
            }

            & img:hover {
                transform: rotate(45deg);
            }

        }

        div:nth-child(1)  {

            span {
                background-image: url(../img/icons/LinkedinLogo.png);
                width: 28px;
                height: 28px;

            }

            &:hover span {
                background-image: url(../img/icons/LinkedinLogo\ hover.png);
                width: 28px;
                height: 28px;
            }
        }

        div:nth-child(2)  {

            span {
                background-image: url(../img/icons/InstagramLogo.png);
                width: 28px;
                height: 28px;

            }

            &:hover span {
                background-image: url(../img/icons/InstagramLogo\ hover.png);
                width: 28px;
                height: 28px;
            }
        }

        div:nth-child(3)  {

            span {
                background-image: url(../img/icons/GithubLogo.png);
                width: 28px;
                height: 28px;

            }

            &:hover span {
                background-image: url(../img/icons/GithubLogo\ hover.png);
                width: 28px;
                height: 28px;
            }
        }

        div:nth-child(4)  {

            span {
                background-image: url(../img/icons/EnvelopeSimple.png);
                width: 28px;
                height: 28px;

            }

            &:hover span {
                background-image: url(../img/icons/EnvelopeSimple\ hover.png);
                width: 28px;
                height: 28px;
            }
        }
    }
}