:root {
    /* PRINCIPAL */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* BASE */
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family-Asap: "Asap", sans-serif;
    --font-family-Inconsolata: "Inconsolata", monospace;
    --font-family-Maven-Pro: "Maven Pro", sans-serif;

    /* Asap */
    --title-lg: 700 56px/120% var(--font-family-Asap);
    --title-md: 700 24px/120% var(--font-family-Asap);
    --title-sm: 700 16px/120% var(--font-family-Asap);

    /* Inconsolata */
    --subtitle: 400 20px/120% var(--font-family-Inconsolata);

    /* Mazen Pro */
    --text-md: 400 16px/140% var(--font-family-Maven-Pro);
    --text-sm: 400 14px/140% var(--font-family-Maven-Pro);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--gray-200);
}

header {
    background-image: url(../img/imagens/Background_Intro.png);
    background-size: 100%;
    object-fit: cover;
}

footer {
    background-image: url(../img/imagens/Background_Contacts.png);
}

h1 {
    font: var(--title-lg);
}

h2  {
    font: var(--subtitle);
}

p {
    color: var(--gray-500);
    font: var(--text-sm);
}

.header__section {
    justify-content: center;
    align-items: center;
    gap: 8px;

    h1 {
        color: var(--gray-600);
        font: var(--title-md);
    }

    h2 {
        color: var(--red);
        font: var(--subtitle);
    }
}