header {
    div {
        width: fit-content;
        position: relative;
    }

    img:first-child {
        width: 87px;
        height: 87px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid var(--red);
        padding: 5px;
    }

    img:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    h2 {
        color: var(--gray-500);
        font: var(--subtitle);

        span {
            color: var(--red);
        }
    }
}