header {
    padding-block: 40px;

    div:first-child {
        width: fit-content;
        position: relative;
    }

    #about img:first-child {
        width: 87px;
        height: 87px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid var(--red);
        padding: 5px;
    }

    img:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    h2 {
        color: var(--gray-500);
        font: var(--subtitle);

        span {
            color: var(--red);
        }
    }

    p {
        font: var(--text-sm);
    }
}

#about {
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin-inline: auto;

    div:last-child {
        margin-top: 20px;
        justify-content: center;
        align-items: center;

        h1 {
            color: var(--gray-600);
        }

        p {
            color: var(--gray-400);
        }
    }
}

#featured {
    padding-block: 60px;
    margin-inline: auto;
    justify-content: space-between;
    max-width: 700px;

    div {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        gap: 8px;
        background-color: var(--gray-300);
        padding: 10px;
        border-radius: 40px;
        cursor: pointer;
        color: var(--gray-400);
        transition: all 0.1s linear;

        &:hover {
            background-color: var(--gray-100);
            color: var(--gray-500);;
            transform: translateY(-5px);
        }
    }

}