#projects {
    align-items: center;
    justify-content: center;

    div:first-child {
        align-items: center;
        gap: 8px;

        & h2:nth-child(1) {
            color: var(--red);
        }
    }

    strong {
        font: var(--title-md);
        color: var(--gray-600);
    }

    & section {
        grid-template-columns: repeat(3, 330px);

        article {
            align-items: center;
            padding: 10px;
            background-color: var(--gray-300);
            border-radius: 8px;
            transition: outline  0.2s linear;
            outline: 2px solid transparent;

            &:hover {
                outline: 2px solid var(--gray-400);
            }

            div {
                padding: 16px 0 16px 6px;
            }

            h2 {
                color: var(--gray-600);
                font: var(--title-sm);
                margin-bottom: 5px;
            }

            p {
                font: var(--text-sm);
                color: var(--gray-500);
            }
        }
    }
}