.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.grid {
    display: grid;
}

.grid-col {
    grid-auto-flow: column;
}