body {
    margin: 0;
    text-transform: uppercase;
    background-image: url(Imagens/como-montar-uma-academia.webp);
    background-repeat: no-repeat;
    background-size: 1550px;
}

.menu {
    margin-block: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9%;
    
    a {
        font-size: 0.75em;
        text-decoration: none;
        color: white;
    }
}

.main {
    color: white;
    margin-block: 8rem;
    margin-inline: auto;
    text-align: center;
    padding: 1.5em;

    .principal {
        font-size: 3rem;
        transition: color 0.1s linear;
        margin: 0.10em auto 0.50em ;
        
        &:hover {
            color: black;
        }
    }

    .p-principal {
        font-size: 0.75em;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 0.60em;
        background-color: rgb(206, 6, 6);
        color: white;
        border-radius: 8px;
        margin: 1em auto;
        width: fit-content;
        transition: background-color 0.1s linear;

        &:hover {
            background-color: black;
        }
    }
}

/* Para tablets */
@media (min-width: 48em) {
    .menu {
        justify-content: end;
        margin-inline: 0 2em;
        gap: 4rem;
        
        a {
            font-size: 0.85em;
        }
    } 
}