body {
    margin: 0;
    text-transform: uppercase;
    background-image: url(Imagens/como-montar-uma-academia.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1550px;
}

header {
    margin-top: 1px;
}

ul {
    text-align: right;
    margin-top: 30px;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
}

li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px;
}

#contact {
    margin-right: 100px;
}

a:hover {
    background-color: rgba(240, 240, 240, 0.3);
}

#home:hover {
    color: goldenrod;
}


.main {
    color: white;
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: center;
}

.main h1 {
    font-size: 90px;
}

.main p {
    
}