body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: 30px;
    min-height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.50rem;
    flex-wrap: wrap;
    width: 45%;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
}

.gallery {
    position: relative;
}

p {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 45px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 460px;
    transition: all 0.2s linear;
}
/* 
.gallery {
    transform: scale(30px);
}

.gallery > a:hover {
    & > p {
        display: block;
        transform: translateY(-150px);
        transition: translate 0.2s linear;
        z-index: 1;
    }
} */