body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: 30px;
    min-height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.50rem;
    flex-wrap: wrap;
    width: 45%;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.575);
}

.gallery {
    position: relative;
}

p {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 45px;
    position: absolute;
    bottom: 0;
    letter-spacing: 2px;
    width: 100%;
    transition: all 0.2s linear;
}