body {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.menu__logo {
    font-family: Georgia, 'Times New Roman', Times, serif   ;
    line-height: 8px;
    margin-left: 80px;
}

.menu__ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 80px;
}

.menu__ul a {
    color: cornflowerblue;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
    border-radius: 8px;
}

.menu__ul a:hover {
    background-color: rgb(84, 84, 220);
    color: white;
}

.principal {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
}

.principal__info {
    align-self: center;
    line-height: 55px;
    margin-left: 80px;
}

.principal__info p {
    color: cornflowerblue;
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.principal__info h1 {
    color: #a8a8a8;
    font-size: 65px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin-top: 1px;
}

.principal img {
    margin-right: 200px;
    width: 480px;
}

a.principal__sign{
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    background-color: cornflowerblue;
    margin-right: 25px;
    padding: 10px 30px;
}


a.principal__show {
    color: cornflowerblue;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
}