body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1em;
}

.menu__logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 0.5em;
    margin-left: 1em;
    font-size: 0.65em;
    transition: all 0.1s linear;
}

.menu__logo:hover {
    transform: translateX(10px);
}

.menu__ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    margin-inline: 0 2em;
    width: 100%;
    /* background-color: yellow; */
    gap: 0.75em;
}

.menu__ul a {
    color: cornflowerblue;
    text-decoration: none;
    font-size: 0.95em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
    border-radius: 8px;
}

.menu__ul a:hover {
    background-color: rgb(84, 84, 220);
    color: white;
}

.principal {
    display: grid;
}

.principal__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.43em;
}

.principal__info p {
    color: cornflowerblue;
    font-weight: bold;
    display: block;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.principal__info h1 {
    color: #a8a8a8;
    font-size: 65px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin-top: 1px;
}

.principal img {
    margin-right: 200px;
    width: 480px;
}

a.principal__sign{
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    background-color: cornflowerblue;
    margin-right: 25px;
    padding: 10px 30px;
}

.principal__info a {
    font-size: 30px;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
}

a.principal__show {
    color: cornflowerblue;
}

a.principal__show:hover {
    background-color: cornflowerblue;
    color: white;
}

.infos {
    display: flex;
    background-color: cornflowerblue;
}

.infos__article p {
    color: #eee;
}

.infos__article:nth-child(1){
    margin-left: 100px;
}

.infos__article {
    padding: 33px;
}

.infos__article:hover {
    background-color: #ebebeb;
}
.infos__article:hover  p  {
    color: black;
}