body {
    margin: 0;
    background-color: #323232;
}   

.contact {
    background-color: white;
    width: 100%;
    padding-top: 1px;
}

.contact p {
    margin: 0 auto auto 150px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu ul {
    text-align: right;
    background-color: rgb(83, 36, 126);
    margin-top: 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-left: 12px;
    letter-spacing: 2px;
}

#linke {
    margin-right: 130px;
}

.menu a:hover {
    background-color: rgba(235, 235, 235, 0.327);
}

.principal {
    color: white;
    font-variant: small-caps;
}

main .me {
    margin: 50px auto 150px auto;
    width: 65%;
}

main .me h1 {
    font-size: 45px;
    color: #ccc;
}