html {
    font-size: 62.5%;
    font-family: sans-serif;
}

:root {
    --color-hf: rgb(43, 43, 43);
    --color-all-fonts: rgb(255, 221, 0);
    --bc: #eee;
}

body {
    margin: 0;
    padding: 0;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-hf);
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
}

.menu img {
    padding: 1.2rem;
    margin: 1.6rem 0 1.6rem 8rem;
}

.menu ul {
    display: flex;
    gap: 3rem;
    margin-right: 15rem;
}

.menu a {
    color: var(--color-all-fonts);
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid var(--color-all-fonts);
    padding: 0.8em 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .5s ease-in-out 0.1s;
}

.menu a:hover {
    background-color: rgba(255, 221, 0, 0.9);
    color: white;
}

/* Face principal */

.face {
    display: flex;    
    justify-content: space-around;
    background-color: rgba(255, 255, 0, 0.252);
    margin-top: calc(15vh);
}

.face__info {
    font-size: 5rem;
    align-self: center;
}

.face__info h1 {
    width: 37pc;
    margin-bottom: 10px;
    color: var(--color-hf);
    line-height: 1.2;
}

.face__info a {
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
    padding: 0.7em 2em;
    background-color: var(--color-all-fonts);
    border-radius: 10px;
    margin-bottom: 40px;
    transition: all .7s ease-out;
}

.face__info__span {
    text-transform: uppercase;
}

.face__info a:hover {
    box-shadow: 0 3px 10px #8f8f8f;
}

/* Main */

#cursos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 5rem 0;
    background-color: var(--bc);
}

#cursos h2 {
    font-size: 4.5rem;
}

.cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cards__main {
    width: 23%;
    border-radius: 10px;
    /* height: 55vh; */
    border: 1px solid var(--bc);
    background-color: white;
    transition: all 0.5s ease-out 0.1s;
}

.cards__main:hover {
    box-shadow: 0 3px 10px #8f8f8f;
}

.cards__main img {
    width: 100%;
}   

.cards__infos {
    padding: 5%;
}

.cards__infos h3 {
    letter-spacing: 1px;
    font-size: 1.8em;
}

.cards__infos p {
    width: 18pc;
    font-size: 1.5rem;
    color: #9d9d9d;
}

#cursos a {
    text-decoration: none;
    color: var(--color-hf);
    letter-spacing: 1px;
    padding: 0.7em 2em;
    background-color: var(--color-all-fonts);
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
    transition: all .7s ease-out;
}

#cursos a:hover {
    box-shadow: 0 3px 10px #8f8f8f;
}

/* Infos Footer */

.infos__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16417C;
    padding-top: 4rem;
}

.infos__footer__forme {
    font-family: sans-serif;
    margin-bottom: 70px;
    color: #f2f2f2;
    font-size: 2.4rem;
    width: 45%;
}

.infos__footer__forme h3 {
    font-size: 3rem;
    margin-bottom: 60px;
}

.infos__footer__forme p {
    width: 35pc;
    line-height: 25px;
    font-size: 1.8rem
}

/* Maps */

.maps {
    background-color: var(--bc);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.maps h3 {
    font-size: 2.8rem;
    font-family: sans-serif;
    margin-top: 3.5rem;
}

.maps__infos {
    margin-right: 12rem;
    align-self: flex-end;
    font-size: 1.8rem;
    line-height: 5px;
    text-align: end;
}

/* Footer */
.ft {
    padding: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-hf);
    color: white;
    font-family: sans-serif;
}

/* FAZER em PADING DE BOTÕES... */