html {
    font-size: 62.5%;
}

:root {
    --color-hf: rgb(43, 43, 43);
    --color-all-fonts: rgb(255, 221, 0)
}

body {
    margin: 0;
    padding: 0;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-hf);
    width: 100%;
    min-height: 15vh;
}

.menu img {
    padding: 1.2rem;
    margin: 1.6rem 0 1.6rem 8rem;
}

.menu ul {
    display: flex;
    gap: 3rem;
    margin-right: 15rem;
}

.menu a {
    color: var(--color-all-fonts);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 1px;
    border: 1px solid var(--color-all-fonts);
    padding: 1.6rem;
    transition: all .5s ease-in-out 0.1s;
}

.menu a:hover {
    background-color: rgba(255, 221, 0, 0.9);
    color: white;
}

/* Face principal */

.face {
    display: flex;    
    justify-content: space-around;
    background-color: rgba(255, 255, 0, 0.252);
    height: 39vw;
}

.face__info {
    font-size: 5rem;
    align-self: center;
}

.face__info h1 {
    width: 32pc;
    margin-bottom: 10px;
}

.face__info a {
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
    padding: 1rem 4rem;
    background-color: var(--color-all-fonts);
    border-radius: 10px;
    margin-bottom: 40px;
}

.face__info__span {
    text-transform: uppercase;
}

/* Main */
.principal-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 5rem 0;
    background-color: #ccc;
}

.principal-cards h2 {
    font-size: 4.5rem;
}

.cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: yellowgreen;
}

.cards__main {
    width: 40.3em;
    border-radius: 10px;
    height: 50vh;
    border: 1px solid #eee;
    background-color: white;
}

/* Maps */

.maps {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.maps p {
    margin-right: 12rem;
    align-self: flex-end;
    font-size: 1.8rem;
    line-height: 0;
}

/* Footer */
.ft {
    padding: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-hf);
    color: white;
    font-family: sans-serif;
}