:root {
    --color: #3a68b7;
}

html {
    font: normal 62.5% sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    max-width: 550px;
    min-width: 400px;
    padding: 1.6rem;
}

.title {
    font-size: 4rem;
    letter-spacing: 1px;
    margin-top: 30px;
    color: var(--color);
}

.infos__txt {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 20px 0 5px 0;
    color: #8b8b8b;
}