:root {
    --bc: rgba(27, 27, 27, 0.5); 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #383838;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

form {
    background-color: var(--bc);
    width: 30%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    color: #ccc;
    text-align: center;
    font: bold 25px sans-serif;
    padding-top: 20px;
}

label {
    margin-top: 20px;
}

input {
    height: 20px;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    background-color: var(--bc);
    color: white;
}