html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

header .Myserver {
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin: 10px auto auto 30px;
    color: white;
}

header {
    background-color: rgba(45, 45, 60, 0.5);
    display: flex;
    width: 70%;
    margin: auto;
}

.menu {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 10px 20px 15px;
}

.menu__li a {
    display: block;
    padding: 16px;
    color: white;
    text-decoration: none;
}
