:root {
    --brand-color: #EF5F4C;

    --skeleton-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --background-color: #D9D9D9;
    --shape-transparency: #FFFFFF56

    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--surface-color);
}

.info {
    display: flex;
    gap: 1.6rem;
}

.info img:nth-child(2) {
    width: 35px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.6rem;
    margin-right: 1.6rem;
}

.navbar a{
    color: var(--text-color-secondary);
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 1.6rem;
}

.navbar a:hover {
    color: var(--brand-color);
}

.navbar img {
    width: 20px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 3.2rem 0.8rem 3.2rem;
    background-color: var(--surface-color);
}

.profile  {
    display: flex;
    gap: 3.2rem;
}

.profile__infos h1 {
    margin: 0;
    font-size: 3.2rem;
}

.profile img {
    align-self: center;
}

.profile__infos {
    display: flex;
    flex-direction: column;
}

.profile__infos p {
    font-size: 1.6rem;
    width: 43rem;
    color: var(--text-color-secondary)
}

.profile__patent {
    justify-self: start;
    padding-right: 12rem;
}

.profile__patent__specificity {
    display: flex;
    gap: 1rem;
}

.profile__patent__specificity p {
    font-size: 1.4rem;
    color: var(--text-color-secondary);
}

.galery {
    display: flex;
    margin-top: 1.4rem;
    flex-wrap: wrap;
    gap: 1.4rem;
    flex: 0 0 1px
}