html {
    font-size: 62.5%;
}

.wapper {
    max-width: 1240px;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.info {
    display: flex;
    gap: 1.6rem;
}

.info img:nth-child(2) {
    width: 35px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.6rem;
    margin-right: 1.6rem;
}

.navbar a{
    color: var(--text-color-secondary);
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 1.6rem;
}

.navbar a:hover {
    color: var(--brand-color);
}

.navbar img {
    width: 20px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 3.2rem 0.8rem 3.2rem;
}

.profile  {
    display: flex;
    gap: 3.2rem;
}

.profile__infos h1 {
    margin: 0;
    font-size: 3.2rem;
}

.profile img {
    align-self: center;
}

.profile__infos {
    display: flex;
    flex-direction: column;
}

.profile__infos p {
    font-size: 1.6rem;
    width: 43rem;
    color: var(--text-color-secondary)
}

.profile__patent {
    justify-self: start;
    padding-right: 12rem;
}

.profile__patent__specificity {
    display: flex;
    gap: 1rem;
}

.profile__patent__specificity p {
    font-size: 1.4rem;
    color: var(--text-color-secondary);
}

.galery {
    background-color: var(--skeleton-color);
    display: flex;
    justify-content: center;
    padding: 2.4rem;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.galery__img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

footer {
    background-color: var(--skeleton-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color-secondary);
    padding: 1.8rem;
}

footer div {
    display: flex;
    gap: 2rem;
}