body {
    display: flex;
    background-color: aqua;
    margin: 0;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    overflow: auto;
    width: 30%;
    height: 355px;
}

.names {
    display: flex;
    border-bottom: 1px solid rgb(200, 200, 200);
    gap: 10px;
    height: 143px;
}

.names img {
    margin: 25px;
    border-radius: 100px;
    width: 90px;
}

.names-info h4{
    margin: 0;
    padding-top: 25px;
    font-size: 20px;
}

.names-info p {
    margin-top: 8px;
    font-size: 17px;
    color: #ccc;
}

.names:hover {
    background-color: rgba(0, 0, 0, 0.078);
}

