:root {
    --bg-color: #290742;
    --text-color-head: #9E6DC2;
    --text-color-p: #FBF6FF;
    --text-color-header: #FFFFFF;
    --color-green: #4FFF4B;
    --text-color-p-post: #000000;
    --bg-color-input: #170027;
    --color-input: #FBF6FF;


    --font-family-Poppins: "Poppins", sans-serif;
    --font-family-Roboto: "Roboto", sans-serif;

    /* Header */
    --title-head: 700 2em var(--font-family-Poppins);
    --title-p: 400 1em var(--font-family-Roboto);
    --title-nav: 400 1.125em var(--font-family-Roboto)
    --title-head-post: 700 1.5em var(--font-family-Poppins)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

