:root {
    --bg-color: #290742;
    --text-color-head: #9E6DC2;
    --text-color-p: #FBF6FF;
    --text-color-header: #FFFFFF;
    --color-green: #4FFF4B;
    --text-color-p-post: #000000;
    --bg-color-input: #170027;
    --color-input: #FBF6FF;


    --font-family-Poppins: "Poppins", sans-serif;
    --font-family-Roboto: "Roboto", sans-serif;

    /* Header */
    --title-head: 700 2em var(--font-family-Poppins);
    --title-p: 400 1em var(--font-family-Roboto);
    --title-nav: 400 1.125em var(--font-family-Roboto);
    --title-head-post: 700 1.5em var(--font-family-Roboto);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article img {
    width: 25em;
}

article span, p {
    display: block;
    font: var(--title-p);
}

article h2 {
    font: var(--title-head-post);
    color: var(--bg-color);
    margin-block: 0.20em;
}

section {
    padding-inline: 1em;
}


#weekly {
    padding-block: 2em;
}

#weekly > *, #best_weekly > * {
    padding-block: 1em;
}

/* Responsive */

@media screen and (min-width: 35.94em) {
    .wrapper {
        width: 100%;
        max-width: 1540px;
        margin-inline: auto;   
    }

    #head {
        justify-content: space-between;
        padding: 2em 5em
    }

    #head img {
        font-size: 1.5em;
    }

    #hero {
        grid-auto-flow: row;
    }

    #weekly {
        grid-template: 
        "A B" 15em
        "A C";
        column-gap: 1.8em;
    }

    #weekly article {
        grid-area: A;
        max-width: 30em;
    }

    #weekly img {
        width: 100%;
    }

    #weekly > div:first-child {
        grid-area: B;
    }

    #weekly > div:last-child {
        grid-area: C;
    }

    #best_weekly {
        grid-template-columns: repeat(2, 1fr);
    }

    #best_weekly img {
        width: 100%;
    }
}

@media screen and (min-width: 47.94em) {

    #head {
        padding-block: 3em;
    }

    #hero > div:last-child {
        display: inline;
        width: 100%;
    }

    #hero > div:last-child img {
        width: 23em;
    }

    #navbar {
        display: flex;
    }

    #navbar a {
        font-size: 0.75em;
    }

    #hero {
        grid-auto-flow: column;
        padding-inline: 5em;
    }

    #hero > div:first-child {
        text-align: start;
    }

    #hero > div:first-child div {
        justify-content: start;
    }

    #hero > div:first-child h1 {
        font-size: 1em;
    }

    #hero > div:first-child p {
        font-size: 0.70em;
    }

    #hero > div:first-child div a {
        font-size: 0.80em;
    }

    #hero > div:first-child div img {
        width: 1em;
    }

    #best_weekly {
        padding-inline: 1em;
        grid-template-columns: repeat(3, 1fr);
    }

    #best_weekly article {
        max-width: 20em;
    }
}