#head {
    background-color: var(--bg-color);
    justify-content: space-between;
    padding-block: 1.5em;
}

#head img {
    width: 6em;
}

#navbar {
    display: none;
}

#navbar a {
    text-decoration: none;
    color: var(--text-color-header);
    font: var(--title-nav);
}

#navbar a:first-child {
    border-left: 3px solid var(--color-green);
    padding-left: 0.20em;
    transition: all 0.2s linear;
}

#navbar a:hover {
    color: var(--text-color-p);
}

#head div {
    justify-content: center;
    align-items: center;
}

#head input {
    padding-block: 0.55em;
    padding-inline: 1.5em 0;
    background-color: var(--bg-color-input);
    border: none;
    outline: none;
    color: var(--color-input);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#head input::placeholder {
    color: var(--color-input);
}

#head button {
    background-color: var(--text-color-head);
    cursor: pointer;
    border: none;
    padding: 0.30em 0.95em;
}

#head button img {
    width: 15px;
}