#hero > div:last-child {
    display: none;
}

#hero > div:first-child {
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
    padding-block: 1em 2em;
    padding-inline: 1em;
    text-align: center;
    border-bottom: 10px solid var(--color-green);
}

#hero > div:first-child h1 {
    font: var(--title-head);
    color: var(--text-color-head);
}

#hero > div:first-child p {
    font: var(--title-p);
    color: var(--text-color-p);
}

#hero > div:first-child div {
    justify-content: center;
    align-items: center;
    gap: 0.30em;
}

#hero > div:first-child div a {
    color: var(--text-color-p);
    text-decoration: none;
}