/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* ------------------------ */
:root {
    --primary-color: #FF7833;
    --secondary-color: #31333B;
}


body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E7E7E7;
    background-color: black;
}


.main-header {
    background-color: var(--secondary-color);
    width: 260px;
}

.main {
    background-color: #444856;
}

a {
    color: inherit;
}