/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* ------------------------ */
:root {
    --primary-color: #FF7833;
    --secondary-color: #31333B;
}

html {
    font-size: 62.5%;
}


body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E7E7E7;
    background-color: black;
}

.main, 
.main-header {
    font-size: 1.6rem;
}


.main-header {
    background-color: var(--secondary-color);
    width: 260px;
    min-height: 100vh;
    flex: 0 0 26rem;
}

.main {
    background-color: #444856;
    flex: 1 0;
}

.perfil-img {
    width: 10rem;
}

a {
    color: inherit;
}