* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #31333B;
    position: absolute;
    bottom: 0;
    top: 0;
    padding: 1rem;
}

.sidebar > img {
    border-radius: 50%;
    width: 80px;
}

.opt {
    display: flex;
    flex-direction: column;
}

.opt a {
    color: white;
    border-top: 1px solid gray;
    text-align: right;
    text-decoration: none;
    width: 100%;
    padding: 0.50rem 0 0.50rem 2rem;
    display: block;
    transition: background-color 0.1s linear;

    &:hover {
        background-color: #444856;
    }
}

.opt > li:last-child a {
    border-bottom: 1px solid gray;
}